body{
  display: flex;
  flex-direction: column;
  background-color: chocolate;
}

main{
  display:flex;
  flex-direction: row;
  flex: auto;
}

article{
  flex: 2;
  overflow-y: auto;
}

aside{
  flex: 1;
  overflow-y: auto;
}
